In [1]:
import pandas as pd
import json

In [23]:
df = pd.read_csv("../../data/submission/dataset2.csv")

In [24]:
df.shape

(98830, 3)

# Reference Data

In [5]:
path_to_ref_data = "/Users/carelchay/Desktop/School/Modules/DSA4262/Project 2/data/data.json"
# Reset the ref_data dictionary tracker
ref_data = {"transcript_id" : [],
           'transcript_position' : []}
# Open the ref_data.json file
with open(path_to_ref_data, 'r') as f:
    # Check that the number of desired entries hasn't been reached
    for idx, line in enumerate(f):
        # Read in just that line. Cannot read in all lines at once as the ref_data is too large
        line = json.loads(line)
        # Obtain transcript and sub-dictionary
        for transcript, sub1 in line.items():
            # Add transcript to dictionary
            ref_data['transcript_id'].append(transcript)
            # Obtain position number and sub-dict
            for position, sub2 in sub1.items():
                # Add position as an integer to the dictionary
                ref_data['transcript_position'].append(int(position))

In [3]:
df1 = pd.DataFrame(ref_data)

In [6]:
df = pd.DataFrame(ref_data)

In [10]:
df.shape

(121838, 2)

In [16]:
df['b'] = 'b'
df1['a'] = "a"

In [17]:
q = pd.merge(df, df1, on=("transcript_id", "transcript_position"), how=
            "right")

In [19]:
q.loc[q['b'].isna()]

         transcript_id  transcript_position    b  a
232    ENST00000023939                   99  NaN  a
282    ENST00000009041                 1458  NaN  a
283    ENST00000009041                 1573  NaN  a
284    ENST00000009041                 1667  NaN  a
285    ENST00000005340                  609  NaN  a
...                ...                  ...  ... ..
90748  ENST00000641756                 1953  NaN  a
90749  ENST00000641756                 1998  NaN  a
90750  ENST00000641756                 2061  NaN  a
90751  ENST00000641756                 2083  NaN  a
90752  ENST00000641756                 2102  NaN  a

[23490 rows x 4 columns]

In [28]:
ref_data

      transcript_id  transcript_position
0       AT1G01050.1                  155
1       AT1G01050.1                  165
2       AT1G01050.1                  347
3       AT1G01050.1                  435
4       AT1G01050.2                  463
...             ...                  ...
98825   AT5G67590.1                  367
98826   AT5G67590.1                  444
98827   AT5G67590.1                  465
98828   AT5G67590.1                  663
98829   AT5G67600.1                  154

[98830 rows x 2 columns]

In [29]:
all(ref_data['transcript_id'] == df['transcript_id'])

True

In [30]:
all(ref_data['transcript_position'] == df['transcript_position'])

True