In [1]:
import pandas as pd

In [2]:
import os

In [5]:
list(os.walk("../../A549/"))

[('../../A549/', ['sub1', 'sub2'], ['.DS_Store']),
 ('../../A549/sub1', [], ['data.index', 'results.csv']),
 ('../../A549/sub2', [], ['data.index', 'results.csv'])]

In [9]:
"results" in 'results.csv'

True

In [10]:
os.path.join('carel', 'chay')

'carel/chay'

In [20]:
folder_name = "../../A549/"
folder_name = folder_name.strip("/")
cell_line = os.path.basename(folder_name)
cell_line

'A549'

In [21]:

# Get list of results files
r = []
for dirpath, subdir, filenames in os.walk(folder_name):
    results = [fname for fname in filenames if 'results' in fname]
    results = [os.path.join(dirpath, fname) for fname in results]
    r.extend(results)

print(r)

['../../A549/sub1/results.csv', '../../A549/sub2/results.csv']

In [22]:
# Filename
fname = r[0]
# Directory name (replicate name)
dirname = os.path.basename(os.path.dirname(fname))
# Read in csv file
df = pd.read_csv(fname)
# Convert column name score
df.rename(columns={'score' : dirname}, inplace=True)

# Join rest of result files
for fname in r[1:]:
    # Directory name (replicate name)
    dirname = os.path.basename(os.path.dirname(fname))
    # Read in csv file
    tdf = pd.read_csv(fname)
    # Convert column name score
    tdf.rename(columns={'score' : dirname}, inplace=True)
    # Join with main dataframe
    df = pd.merge(df, tdf, how = 'outer', on = ('transcript_id', 'transcript_position'))
    
# Columns with scores
score_cols = df.columns.difference(['transcript_id', 'transcript_position'])
score_cols = list(score_cols)

# Additional Columns
df['mean_score'] = df[score_cols].mean(axis=1)
df['sdev'] = df[score_cols].std(axis=1)
df['n_counts'] = df[score_cols].count(axis=1)

In [25]:
q = pd.read_csv("../../A549/A549_consolidated_results.csv")

In [28]:
df_Hct = pd.read_csv("../../data/results/Hct116_consolidated_results.csv")

In [32]:
df_Hct

,transcript_id,transcript_position,replicate3_run1,replicate3_run4,replicate4_run3,mean_score,sdev,n_counts
0,R2_55_3,262,0.058109,NaN,NaN,0.058109,NaN,1
1,R2_55_3,279,0.047117,NaN,NaN,0.047117,NaN,1
2,R2_55_3,291,0.016828,NaN,NaN,0.016828,NaN,1
3,R2_55_3,300,0.033934,NaN,NaN,0.033934,NaN,1
4,R2_55_3,628,0.018963,NaN,NaN,0.018963,NaN,1
...,...,...,...,...,...,...,...,...
232354,ENST00000413293,560,NaN,NaN,0.008453,0.008453,NaN,1
232355,ENST00000414273,17,NaN,NaN,0.021282,0.021282,NaN,1
232356,ENST00000414273,31,NaN,NaN,0.086428,0.086428,NaN,1
232357,ENST00000414273,40,NaN,NaN,0.139009,0.139009,NaN,1
232358,ENST00000414273,48,NaN,NaN,0.577688,0.577688,NaN,1

In [30]:
df_Hct.loc[(~df_Hct['replicate3_run1'].isna()) & (~df_Hct['replicate3_run4'].isna()) & (~df_Hct['replicate4_run3'].isna())]

,transcript_id,transcript_position,replicate3_run1,replicate3_run4,replicate4_run3,mean_score,sdev,n_counts
6,ENST00000389680,103,0.974637,0.968361,0.968499,0.970499,0.003584,3
7,ENST00000389680,166,0.054962,0.038940,0.043570,0.045824,0.008245,3
8,ENST00000389680,179,0.001122,0.000612,0.000780,0.000838,0.000260,3
9,ENST00000389680,204,0.029560,0.069136,0.028031,0.042243,0.023303,3
10,ENST00000389680,218,0.079927,0.067950,0.089793,0.079223,0.010938,3
...,...,...,...,...,...,...,...,...
148247,ENST00000457540,132,0.050132,0.021549,0.030487,0.034056,0.014622,3
148248,ENST00000457540,145,0.057168,0.032728,0.368752,0.152883,0.187348,3
148249,ENST00000457540,245,0.275307,0.200931,0.145016,0.207085,0.065363,3
148250,ENST00000457540,252,0.260982,0.278081,0.126869,0.221977,0.082809,3
148251,ENST00000457540,258,0.000079,0.000029,0.000013,0.000040,0.000034,3

In [31]:
df_Hct

,transcript_id,transcript_position,replicate3_run1,replicate3_run4,replicate4_run3,mean_score,sdev,n_counts
0,R2_55_3,262,0.058109,NaN,NaN,0.058109,NaN,1
1,R2_55_3,279,0.047117,NaN,NaN,0.047117,NaN,1
2,R2_55_3,291,0.016828,NaN,NaN,0.016828,NaN,1
3,R2_55_3,300,0.033934,NaN,NaN,0.033934,NaN,1
4,R2_55_3,628,0.018963,NaN,NaN,0.018963,NaN,1
...,...,...,...,...,...,...,...,...
232354,ENST00000413293,560,NaN,NaN,0.008453,0.008453,NaN,1
232355,ENST00000414273,17,NaN,NaN,0.021282,0.021282,NaN,1
232356,ENST00000414273,31,NaN,NaN,0.086428,0.086428,NaN,1
232357,ENST00000414273,40,NaN,NaN,0.139009,0.139009,NaN,1
232358,ENST00000414273,48,NaN,NaN,0.577688,0.577688,NaN,1